<table class="table-bordered">
<% @urls.each do |url| %>
<tr>
  <td><%= link_to url.orig_url, url.orig_url%></td>
  <td><%= link_to url.short_url_path, url.short_url %></td>
  <td><%= url.impressions %></td>
</tr>
<% end %>
</table>